/*
Campos
*/
input[type="text"]  {
    padding: 16px 16px 16px 60px;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 10px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    width: 100%;
}

input[type="text"]:focus  {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

@media screen and (min-width: 768px){
    input[type="text"]{
        width: 50%;
    }
}

/*Botones*/

button {
    font-size: 16px;
    text-decoration: none;
    color: dodgerblue;
    border: 1px solid dodgerblue;
    background-color: transparent;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    margin: 1px;
    transition:background 1s, color 1s;
}

button:hover{
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
}

.header a {
    text-decoration: none;
    border: 2px solid white;
    padding: 10px;
    color: white;
}

.btnEliminar{
    float: right;
    color: white;
    background-color: rgb(236, 93, 93);
    border-color: red;
    border: 0px;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    border-radius: 2px;
    z-index: 9999;
}

.btnEliminar:hover{
    background-color: red;
}

.ReactModal__Overlay--after-open{
    background-color: rgba(0, 0, 0, 0.75) !important;
}

.ReactModal__Content--after-open{
    width: 80% !important;
}

@media screen and (min-width: 768px){
    .ReactModal__Content--after-open{
        width: 50% !important;
    }
}