@import "styles/efects.css";
@import "styles/todo.css";
@import "styles/formularios.css";
@import "styles/galery.css";

.App {
    text-align: center;
}

.header {
    padding: 1rem;
    display: flex;
    background: linear-gradient(80deg, black, gray); 
    color: white;
    padding: 20px;
    box-shadow: 5px 5px #888888;
    position: relative;
    width: 100%;
    
}

.User{
    margin: 1rem;   
}

.UserList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
}

@media screen and (min-width: 768px) {
    .UserList {
        flex-direction: row;
    }
}

.User__item {
    flex: 1;
    margin: 1rem;
    align-self: center;
    padding: 1rem;
    border: 1px solid lightgray;
    flex-grow: 1;
    border-radius: 5px;
    margin: 2px;
    box-shadow: 5px 5px gray;   
    min-height: 150px;
    max-width: 300px;
    color: black;
}

.User__item:hover {
    box-shadow: 5px 5px darkgray;
    
}

.User a {
    text-decoration: none;
}

.UserPage__container {
    display: flex;
    flex-direction: column;
}

.UserPage__item {
    flex-grow: 1;
    padding: 1rem;   
}

.info {
    align-self: flex-start;
    border: 1px solid lightgray;
    padding: .8rem;
    flex-grow: 1;
    border-radius: 5px;
    margin: auto;
    margin-top: 50px;
    box-shadow: 5px 5px #c7c7c7;
    padding-bottom: 2rem;
    width: 80%;
}

@media screen and (min-width: 768px) {
    .UserPage__container {
        flex-direction: row;
        justify-content: center;
    }
    .todos {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
    }
    .info {
        margin-left: 1rem;
        width: 20%;
    }
}



svg path,
svg rect {
    fill: #FF6700;
}

.animated-page-wrapper {
    position: absolute;
    top: 62px;
    left: 0;
    width: 100%;
    height: 100%;
}

.User{
    text-decoration: none;
}

.FormUsers{
    background: linear-gradient(80deg, black, gray); 
    color: white;
    padding: 20px;
    box-shadow: 5px 5px #888888;
}

footer {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    padding: 5px;
    font-size: 8px;
    background: linear-gradient(80deg, black, gray); 
    color: white;
    padding-left: 20px;
}

footer a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin-top: 5px;
}

.not-found{

}