@import "styles/efects.css";

.App {
  text-align: center;
}

.UserList{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 768px){
  .UserList{
    flex-direction: row;
  }
}

.User__item{
  flex: 1;
  margin: 1rem;
  align-self: center;
  padding: 1rem;
  border: 1px solid lightgray; 
  flex-grow: 1;
  border-radius: 5px;
  margin: 2px;
  box-shadow: 5px 5px #c7c7c7; 
}

.User__item:hover{
  box-shadow: 5px 5px #797979;
}

.User a{
  text-decoration: none;
}

.UserPage__container{
  display: flex;
  flex-direction: column;
}

.UserPage__item{
  flex-grow: 1;
  padding: 1rem;
}

.info{
  align-self: flex-start;
  border: 1px solid lightgray; 
  padding: .8rem;
  flex-grow: 1;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
  box-shadow: 5px 5px #c7c7c7; 
  padding-bottom: 2rem;
  width: 80%;
}


@media screen and (min-width: 768px){
  .UserPage__container{
    flex-direction: row;
    justify-content: center;
  }

  .todos{
      display: flex;
      flex-direction: column; 
      flex-grow: 1;
      justify-content: center; 
  }

  .info{
    margin-left: 1rem;
    width: 20%;
  }
}

.Todo{
  display: flex;
  justify-content: center;
}

.Todo .Todo__item{
  border: 1px solid lightgray; 
  padding: .5rem;
  flex-grow: 1;
  border-radius: 5px;
  margin: 2px;
  box-shadow: 5px 5px #c7c7c7; 
}

.Todo__item:hover{
  box-shadow: 5px 5px #575656; 
}

svg path,
svg rect{
  fill: #FF6700;
}

.animated-page-wrapper {
  position: absolute;
  top: 62px;
  left: 0;
  width: 100%;
  height: 100%;
}

.button-back{  
  padding: 1rem;
  display: flex;
  
}

.button-back a{
  text-decoration: none;
  border: 1px solid rgba(5, 88, 84, 0.562);
  padding: 10px;
  color: rgba(5, 46, 44, 0.562);
}